@font-face {
  font-family: Pathway Gothic One;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url(../Fonts/PathwayGothicOne-Regular.ttf);
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url(../Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Palanquin;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url(../Fonts/Palanquin-Regular.ttf);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html, body {
  min-width: 100%;
  overflow-x: hidden;
  line-height: 26px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Pathway Gothic One";
}

.hide {
  display: none !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 1024;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  border-bottom: 2px solid #fff8ec;
  width: 100%;
}

header .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  header .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header .navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  header .navbar_container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  header .navbar_container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  header .navbar_container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  header .navbar_container {
    max-width: 1140px;
  }
}

header .navbar_container .text-logo {
  float: left;
}

header .navbar_container .text-logo a {
  display: block;
  outline: 0;
  color: #4458dc;
}

header .navbar_container .text-logo a .logo-symbol {
  float: left;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee)), radial-gradient(circle at top left, #4458dc, #854fee);
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-right: 8px;
  margin-top: 4px;
}

header .navbar_container .text-logo a .logo-text {
  float: left;
  line-height: 50px;
  font-size: 20px;
  color: #222;
  font-weight: 700;
}

header .navbar_container .text-logo a .logo-text span {
  font-weight: 500;
}

header .navbar_container .humbarger {
  display: none;
}

@media screen and (max-width: 992px) {
  header .navbar_container .humbarger {
    display: block;
    cursor: pointer;
    z-index: 1025;
  }
  header .navbar_container .humbarger .bar {
    width: 30px;
    height: 3px;
    margin: 6px;
    background: #4458dc;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
  header .navbar_container .humbarger.show .bar:nth-child(1) {
    position: relative;
    top: 11.5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .navbar_container .humbarger.show .bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  header .navbar_container .humbarger.show .bar:nth-child(3) {
    position: relative;
    bottom: 6px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

header .navbar_container .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  header .navbar_container .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-block: 3rem 2rem;
    background: #fff;
    -webkit-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    row-gap: 3rem;
  }
  header .navbar_container .menu.show {
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  header .navbar_container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

header .navbar_container .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}

@media screen and (max-width: 992px) {
  header .navbar_container .menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 3rem;
  }
}

@media screen and (min-width: 992px) {
  header .navbar_container .menu_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  header .navbar_container .menu_list .menu_link {
    margin-right: 28px;
  }
}

header .navbar_container .menu_list .menu_link a {
  font: 400 21px "Pathway Gothic One";
  text-transform: uppercase;
  color: #333333;
  padding: 0px;
  display: inline-block;
  position: relative;
}

header .navbar_container .menu_list .menu_link a::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #4458dc;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 5px;
}

header .navbar_container .menu_list .menu_link a:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

header .navbar_container .menu_list .menu_link.active a::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

header .navbar_container .menu .language_menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

@media screen and (max-width: 992px) {
  header .navbar_container .menu .language_menu_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .navbar_container .menu .language_menu_container .language-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media screen and (max-width: 992px) {
  header .navbar_container .menu .language_menu_container .language-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .navbar_container .menu .language_menu_container .language-menu .active {
  display: none;
}

header .navbar_container .menu .language_menu_container .language-menu a {
  font: 400 21px "Pathway Gothic One";
  text-transform: uppercase;
  color: #333333;
  padding: 0px;
  display: inline-block;
}
