.frame-type-powermail_pi1{
    padding-top: 120px  ;
    background-color: #f5f8fb;
    header{
        text-align: center;
        margin-bottom: 3rem;
        h1{
            font-family: $font;
            font-size: 46px;
            text-transform: uppercase;
            color: $color_4;
        }
        h2{
            font-family: $font;
            font-size: 26px;
            text-transform: uppercase;
            color: $color_5;
        }
    }
}
.tx-powermail{
    form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        fieldset{
            border :none;
            display: flex;
            flex-flow: column nowrap;
            width:50%;
            .powermail_fieldwrap{
                margin-bottom: 1rem;
                input:not([type=submit]),textarea{
                    display: block;
                    width:100%;
                    padding: 0.375rem 0.75rem;
                    line-height: 2.2;
                    border-radius: 0;
                    background-color: $color_1;
                    border: 1px solid $color_5;
                }
                input[type=submit]{
                    background-color: $color_7;
                    color: $color_1;
                    padding: 12px 15px;
                    cursor: pointer;
                    border:none
                }
            }
        }
    }
}