@font-face {
    font-family: Pathway Gothic One;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url(../Fonts/PathwayGothicOne-Regular.ttf);
  }
  @font-face {
      font-family: Open Sans;
      font-style: normal;
      font-stretch: normal;
      font-display: swap;
      src: url(../Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    }
  
    @font-face {
      font-family: Palanquin;
      font-style: normal;
      font-stretch: normal;
      font-display: swap;
      src: url(../Fonts/Palanquin-Regular.ttf);
    }