footer{
    background-color:black;
    color: $color_1;
    font-family: $font_1;
    padding: 5rem 0;;
    a{
        color: $color_1;
    }
    .footer__box{
        display: flex;
        flex-flow: row wrap;
        &-content{
            flex:0 0 auto;
            width:25%;
            @media screen and (max-width: map-get($devices-breakpoints,lg)){
                width: 50%;
                margin-bottom: 30px;
            }
            @media screen and (max-width: map-get($devices-breakpoints,sm)){
                width: 100%;
            }
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            .footer-social{
                display: flex;
                flex-flow: row wrap;
                li{
                    transition: all 0.3s ease 0s;
                    margin: 0 15px 15px 0;
                    img{
                        width: 35px;
                        height: auto;
                    }     
                    &:hover{
                        transform: translateY(-5px);
                    }
                }
            }
            h3{
                margin-bottom: 20px;
            }
            .pages_links{
                li{
                    line-height: 1.5;
                    margin-bottom: 15px;
                    a{
                        &::before{
                            content: "\27BC";
                            color:$color_7;
                        }
                    }
                }
            }
            .contact-links{
                li{
                    margin-bottom: 1rem;
                }
                .contact-address{
                    &::before{
                        content: "\2616";
                        color: $color_7;
                    }
                    
                }
                .contact-tel{
                    &::before{
                        content: "\260F";
                        color: $color_7;
                    }
                    
                }
                .contact-email{
                    &::before{
                        content: "\2709";
                        color: $color_7;
                    }
                    
                }
            }
        }
    }
}